<div class="row g-0">
  <div class="col-md-5">
    <h4 class="fw-bold mb-4">Change mot de passe</h4>
    <form (ngSubmit)="handleChangePassword()" [formGroup]="formGroup">
      <div class="form-floating mb-3">
        <input type="password" formControlName="oldPassword" class="form-control" id="oldPassword" placeholder="Saisir le nom d'utilisateur">
        <label class="d-block mb-1" for="oldPassword">Mot de passe</label>
        <small class="text-muted">Veuillez saisir votre mot de passe actuelle</small>
      </div>
      <div class="form-floating mb-3">
        <input type="password" formControlName="newPassword" class="form-control" id="newPassword" placeholder="Saisir le nom d'utilisateur">
        <label class="d-block mb-1" for="newPassword">Nouveau mot de passe</label>
      </div>
      <div class="form-floating mb-4">
        <input type="password" formControlName="confirmNewPassword" class="form-control" id="confirmNewPassword" placeholder="Mot de passe">
        <label class="d-block mb-1" for="confirmNewPassword">Confirmer mot de passe</label>
      </div>
      <button type="submit" [disabled]="formGroup.invalid" class="btn btn-primary px-3">Changer mot de passe</button>
    </form>
  </div>
</div>

